# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

# ワークフローに好きな名前を入れる
name: Go

# description: "github actions sample"
# author: "Shogo"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    strategy:
      matrix:
        go-version: [1.19.x, 1.20.x]
    runs-on: ubuntu-latest
    # ワークフローを実行するDockerイメージ
    # runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}

    - uses: actions/checkout@v3

    - name: Install golangci-lint
      run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.52.2

    - name: Run golangci-lint
      run: golangci-lint run
    
    - name: Fetch required Go modules
      run: go mod download

    - name: Build
      run: go build -o . ./cmd/app/main.go

    # - name: Test
    #   run: go test ./...
